<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

    @*<div class="container">
        @if (Request.IsAuthenticated)
        {
            @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login" })
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>*@

    <nav class="navbar navbar-dark bg-dark navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                @Html.ActionLink("MovieApp", "Search", new { Controller = "Movies" }, new { @class = "navbar-brand" })
            </div>
            <ul class="nav navbar-nav navbar-right">
                @if (Request.IsAuthenticated)
                {
                    @Html.ActionLink("ログアウト", "SignOut", new { Controller = "Login" })
                }
            </ul>
        </div>
    </nav>

    <div class="container">
        @RenderBody()
    </div>

</body>
</html>
