@model MovieApp.Models.Movie

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Movie</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Published_at, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Published_at, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Published_at, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Genre, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Genre, new List<SelectListItem>
                    { new SelectListItem { Text = "アクション", Value = "アクション"},
                      new SelectListItem { Text = "アドベンチャー", Value = "アドベンチャー"},
                      new SelectListItem { Text = "アニメーション", Value = "アニメーション"},
                      new SelectListItem { Text = "SF", Value = "SF"},
                      new SelectListItem { Text = "音楽", Value = "音楽"},
                      new SelectListItem { Text = "コメディ", Value = "コメディ"},
                      new SelectListItem { Text = "サスペンス", Value = "サスペンス"},
                      new SelectListItem { Text = "スポーツ", Value = "スポーツ"},
                      new SelectListItem { Text = "成人", Value = "成人"},
                      new SelectListItem { Text = "西部劇", Value = "西部劇"},
                      new SelectListItem { Text = "戦争", Value = "戦争"},
                      new SelectListItem { Text = "短編", Value = "短編"},
                      new SelectListItem { Text = "伝記", Value = "伝記"},
                      new SelectListItem { Text = "ドキュメンタリー", Value = "ドキュメンタリー"},
                      new SelectListItem { Text = "ドラマ", Value = "ドラマ"},
                      new SelectListItem { Text = "犯罪", Value = "犯罪"},
                      new SelectListItem { Text = "ファミリー", Value = "ファミリー"},
                      new SelectListItem { Text = "ファンタジー", Value = "ファンタジー"},
                      new SelectListItem { Text = "フィルム・ノワール", Value = "フィルム・ノワール"},
                      new SelectListItem { Text = "ホラー", Value = "ホラー"},
                      new SelectListItem { Text = "ミステリー", Value = "ミステリー"},
                      new SelectListItem { Text = "ミュージカル", Value = "ミュージカル"},
                      new SelectListItem { Text = "歴史", Value = "歴史"},
                      new SelectListItem { Text = "ロマンス", Value = "ロマンス"}}, "ジャンルを選んでください",
                      new { @class = "form-control" })
                @*@Html.EditorFor(model => model.Genre, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.ValidationMessageFor(model => model.Genre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="&#xf067; Create" class="btn btn-outline-warning fas" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Search")
</div>

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
