@using MovieApp.Models
@model MovieApp.Models.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/_LayoutPage1.cshtml";
}

<h2>Search</h2>

<p>
    @Html.ActionLink(" Create New", "Create", "Movies", new { @class = "btn btn-warning text-white fas fa-plus-circle" })
</p>


@using (Html.BeginForm("Search", "Movies", FormMethod.Get))
{
    <div class="form-horizontal, from-group">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div>

            <div class="mb-2">
            @*<div class="col-md-10 mb-2">*@
                @Html.LabelFor(model => model.GenreName, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.GenreName, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.GenreName, "", new { @class = "text-danger" })

                @Html.LabelFor(model => model.TitleName, htmlAttributes: new { @class = "control col-md-2" })
                @Html.EditorFor(model => model.TitleName, new { htmlAttributes = new { @class = "" } })
                @Html.ValidationMessageFor(model => model.TitleName, "", new { @class = "text-danger" })

                <input type="submit" value="&#xf002; Search" class="btn btn-outline-primary fas" />

                <a href="@Url.Action("CSV_Download", "Movies")" class="btn btn-outline-info ml-4" style="display:inline-block"><i class="fas fa-file-csv"></i> CSV Download</a>
            </div>
        </div>
    </div>
}




@{
    var movie = new Movie();
}

<table class="table table-hover">
    <thead>
        <tr class="thead-light">
            <th>
                <i class="far fa-images"></i> 画像
            </th>
            <th>
                <i class="fas fa-film"></i>
                @Html.DisplayNameFor(model => movie.Title)
            </th>
            <th>
                <i class="fas fa-theater-masks"></i>
                @Html.DisplayNameFor(model => movie.Published_at)
                <a href="@Url.Action("Search", "Movies", new { Sign = @ViewData["Sign"]})"><i class="fas fa-caret-down" style="color:#495057"></i></a>
            </th>
            <th>
                <i class="fas fa-bars"></i>
                @Html.DisplayNameFor(model => movie.Genre)
            </th>
            <th>
                <i class="fas fa-dollar-sign"></i>
                @Html.DisplayNameFor(model => movie.Price)
            </th>
            <th>
                <i class="fas fa-gamepad"></i>
                コントローラー
            </th>
        </tr>
    </thead>

    <tbody>
        <!-- 一覧表示部分 -->
        @foreach (var item in Model.Movies)
        {
            <tr>
                <td>空</td>

                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Published_at)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                        <a href="@Url.Action("Edit", "Movies", new {id = item.Id})" class="btn btn-success"><i class="far fa-edit"></i> Edit</a>
                        <a style="color:white;cursor:pointer" data-url="@Url.Action("Details_Json")" id="@item.Id" class="btn btn-primary j_btn" data-bs-target="#exampleModal"><i class="fas fa-info-circle"></i> Details</a>
                        <a href="@Url.Action("Delete", "Movies", new {id = item.Id})" class="btn btn-danger"><i class="far fa-trash-alt"></i> Delete</a>
                        <a href="" class="btn btn-info"><i class="far fa-image"></i> Upload-Image</a>
                </td>
            </tr>
        }
    </tbody>

</table>


<!-- Modal Window-->
<div id="ModalHere">
</div>


<!-- JQuery -->
<script>

    $(document).ready(function () {
        $(".j_btn").click(function () {

            const url = $(this).data('url');
            const id = $(this).attr('id');
            console.log(id);
            console.log(url);
            $("#ModalHere").html("<p>浦安鉄筋家族</p>");


            $.ajax({
                url: url + '/' + id,
                type: 'get',
                cache: false,
            })

                .done(function (response) {
                    $("#ModalHere").html(response);
                    $("#ModalHere").find('.modal').modal('show');
                    console.log(response);
                })
                .fail(function (xhr) {
                    console.log("Failed...");
                    console.log(xhr);
                })
        });
    });


</script>